* {
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Karla", sans-serif; 
  color: #033d35;
  /* background-color: black; */
}
.suman{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}
.subheadline{
  font-family: 'PT Sans', sans-serif;
}
.gradient{
  box-shadow: 1px 0 5px -5px #333, 0 -5px 12px -12px #333, -1px 0 5px -5px #333;
			
  
}
.bottom {
  box-shadow: 0px 15px 10px -15px #ffe1da;    
}
.hero-image::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  bottom: 0;
  left: 0;
  right: 0;
  height: 65vh;
  width: 100%;
  content: '';
}



/* CSS */
.button-dark {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 18px;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 7px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-dark::after,
.button-dark::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-dark::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #033d35;
  border-radius: 10px;
}

.button-dark::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-dark:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-dark:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-dark:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}



/* Light */


/* CSS */
.buttonlight {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 18px;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 7px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonlight::after,
.buttonlight::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.buttonlight::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #e76e50;
  border-radius: 10px;
}

.buttonlight::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.buttonlight:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.buttonlight:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.buttonlight:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}





/* CSS */
.buttonsmall{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 14px;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonsmall::after,
.buttonsmall::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.buttonsmall::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #e76e50;
  border-radius: 10px;
}

.buttonsmall::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.buttonsmall:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.buttonsmall:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.buttonsmall:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}




